$border-radius: 0.4rem;

@mixin border-radius() {
    border-radius: $border-radius;
}

@mixin border-top-left-radius() {
    border-top-left-radius: $border-radius;
}

@mixin border-top-right-radius() {
    border-top-right-radius: $border-radius;
}

@mixin border-bottom-left-radius() {
    border-bottom-left-radius: $border-radius;
}

@mixin border-bottom-right-radius() {
    border-bottom-right-radius: $border-radius;
}

@mixin shadow-small {
    box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.4);
}

@mixin shadow-medium {
    box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.2), 2px 3px 6px rgba(0, 0, 0, 0.4);
}

@mixin shadow-large {
    box-shadow: 2px 3px 6px rgba(0, 0, 0, 0.4), 1px 3px 12px rgba(0, 0, 0, 0.5);
}

@mixin shadow-inset-small {
    box-shadow: inset 1px 2px 3px rgba(0, 0, 0, 0.4);
}

@mixin shadow-inset-medium {
    box-shadow: inset 1px 2px 3px rgba(0, 0, 0, 0.2), inset 2px 3px 6px rgba(0, 0, 0, 0.4);
}

@mixin shadow-inset-large {
    box-shadow: inset 2px 3px 6px rgba(0, 0, 0, 0.4), inset 1px 3px 12px rgba(0, 0, 0, 0.5);
}